* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header {
    min-height: 50px;
    background-color: lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main {
    min-height: 100px;
    display: flex;
    gap: 1.5rem;
}

.login {
    background-color: blue;
    color: white;
    min-width: 25px;
    padding: 5px 10px;
}

#search {
    min-width: 300px;
}

.left {
    min-height: 100px;
    flex: 2;
}

.right {
    min-height: 50px;
    flex: 1;
    border: 1px solid black;
}

.top {
    min-height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    min-height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topleft {
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.topright {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomleft {
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.bottomright {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asideright {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.adddefinition {
    background-color: green;
    color: black;
    min-width: 25px;
    padding: 5px 10px;
}

.likesb {
    color: black;
    background-color: yellow;
}